.dropdown-submenu .dropdown-menu {
  left: 10px;
}
.dropdown-menu {
  padding-left: 10px;
  border: none;
  background-color: #f4f4f4;
}
span.dropdown-toggle.beer-descripttion-bold {
  cursor: pointer;
}

.beer-itemaccordion {
  background-color: yellow;
  /* max-width: 200px; */
  letter-spacing: 0.25em;
  line-height: 23px;
}
